body {
  background-color: #FAFFF4;
  font-size: 26px;
  line-height: 1.4;
  font-weight: 400;


}


.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px
}
header {
  background: #1C2623;
  padding: 70px 0;
  overflow: hidden;
}

header nav {
  float: right;
  margin-top: 15px;
}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: .9em;
}
header nav ul li a {
  color: #BAFCEA;
}
nav {
    height: 65px;
    position: fixed;
    top: 0px;
    width: 100%;
    padding-left: 30px;
    z-index: 100;
    text-decoration-style: none;}


a {
  text-decoration: none;
}

nav a {
    float: right;
    color:#FFFFFF;
    font-weight: 100;
    font-size: 20px;
    display: block;
    padding: 35px;
    margin-top: 5px;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
  }

  #main {
  margin-top: 80px;
}

#posts {
  max-width: 700px;
  width: 70%;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.post {
  border-bottom: 1px solid #043049;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

#party {
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    color: white;