body {
  background-image: url("../images/metrotunnels.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 500px; 

}


.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px

}
nav {
    height: 65px;
    position: fixed;
    top: 0px;
    width: 100%;
    padding-left: 30px;
    z-index: 100;
    text-decoration-style: none;}


a {
  text-decoration: none;
}

nav a {
    float: right;
    color:#FFFFFF;
    font-weight: 100;
    font-size: 20px;
    display: block;
    padding: 35px;
    margin-top: 5px;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;


  }