<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Two Column</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <main class="wrapper">  
    <header class="main-nav">
      <nav class="top-nav">
        <ul>
          <li>Nav Links</li>
          <li>Nav Links</li>
          <li>Nav Links</li>
          <li>Nav Links</li>
          <li>Nav Links</li>
        </ul>
      </nav>
    </header>
    <section class="articles"></section>
    <section class="sidebar"></section>
    <footer class="copyright"></footer>

</main>
</body>
</html>