.wrapper{
  width: 1080px;
  margin: 0 auto;
}
.main-nav{
  background-color: #eee;
  height: 200px;
}
.main-nav .top-nav{
  background-color: #ffc;
}
.main-nav .top-nav ul> li{
  display: inline-block;
  padding: 0 10px;
}
.articles{
  background-color: #000
  display: inline-block;
  height: 500px;
  width: 45%;
}
.sidebar{
  background-color: #ffa;
  display: inline-block;
  height: 500px;
  width: 45%
}
.copyright{
  background-color: #eee;
  height: 200px;
}
.fake{
  background-image: url('assets/bithbelike.');
  background-repeat: no-repeat;
  background-size: cover;
}